/*font-family: 'Cinzel', serif;
font-family: 'EB Garamond', serif;*/
html {
    background-color: #504f54;
    scroll-behavior: smooth;
}
body {
    margin: 0 0 0 0;
}
.header-text {
    text-align: center;
    font-family: "Cambria";
    color: white;
}
.subheader-text {
    text-align: center;
    font-family: "Cambria";
    color: white;
}
.text {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: white;
}
.italic {
    font-style: italic;
}
.mdc-card {
    padding: 5% 5% 5% 5%;
    background-color: #504f54;
}
.mdc-layout-grid__inner {
    padding-top: 2%;
}
.section {
    height: 100vh;
    padding-top: 0;
    
}
#section2 {
    height: 175vh !important;
}
#background-parallax-section2 {
    height: 175vh !important;
}
.background-parallax {
    object-fit: none;
    width: 100vw;
    height: 100vh;
}
.background-parallax-single {
    object-fit: contain;
    width: 100vw;
    height: 100vh;
}
.parallax-scene {
    
}